/* Oracle Sans - the Oracle font from the Redwood Design System */
@import url('//static.oracle.com/cdn/fnd/gallery/2407.0.1/OracleFont/OracleFont.min.css');

body, html {
    height: 100%;
    margin: 0;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

header, footer {
    flex: none;
    padding: 20px;
    text-align: center;
}

header {
    background: #C74634;
}

footer {
    background: #759C6C;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainWrapper {
    display: flex;
    flex: auto; /* grow to fill available space */
    align-items: center; /* align vertically */
    justify-content: center; /* align horizontally */
}

.interview {
    width: 100%; 
}
